{% extends 'base.html.twig' %}

{% block title %}Manage Account{% endblock %}

{% block headerbuttons %}<a href="{{ path('app_user_home')}}">Back</a>{% endblock %}

{% block body %}
<div hidden data-controller="account"></div>
<h1>Account Management</h1>
<p>Manage your account settings and preferences.</p>
<p>Note: the below dump will not download each file, just the patent information and file names</p>
<button id="download-account" data-id="{{ userId }}">Download JSON file dump</button>
<button id="delete-account" data-id="{{ userId }}">Delete Account</button>
{% endblock %}
