{% extends 'base.html.twig' %}

{% block title %}Hello ViewLanguagesController!{% endblock %}

{% block body %}

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.code }}</td>
                <td>{{ language.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
