{% extends 'base.html.twig' %}

{% block title %}

Patent Management

{% endblock %}

{% block headerbuttons %}

<a href="{{ path('app_about') }}">About</a><a href="{{ path('app_login') }}">Login</a>

{% endblock %}
