{% extends 'base.html.twig' %}

{% block title %}

Patent Management

{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block headerbuttons %}

<a href="{{ path('app_about') }}">About</a><a href="{{ path('app_login') }}">Signup / Login</a>

{% endblock %}

{% block body %}
<h1>Patent Management Redefined</h1>
{% endblock %}