{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block headerbuttons %}

<a href="{{ path('index')}}">Back</a>

{% endblock %}

{% block body %}

<a href="{{ path('app_signup')}}">Sign up instead</a><a href="{{path('app_login_trouble')}}">Trouble logging in?</a>

{% endblock %}
