{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block headerbuttons %}

<a href="{{ path('index')}}">Back</a>

{% endblock %}

{% block body %}

{{ form(form) }}

{% endblock %}
