<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta viewport="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <div class="left-header">Patent Management System</div>
        <div class="right-header">{% block headerbuttons %}{% endblock %}</div>
    </header>
    <body>
        <div class="content">{% block body %}{% endblock %}</div>
    </body>
    <footer>
        Patent Management System, 2025
        {% block footer %}{% endblock %}
    </footer>
</html>
